.btn {
  border: 1px solid var(--color-border);
  height: 50px;
  text-transform: uppercase;
  font-size: 12px;
  background-color: var(--color-light);
  color: var(--color-text);
  font-weight: 700;
  &-filter {
    width: 168px;

    @media (max-width: 776px) {
      width: 137px;
    }
    &:hover {
      background-color: var(--color-hover);
    }
    &--active {
      background-color: var(--color-accent);
      color: var(--color-light);
      border-color: var(--color-accent);
      pointer-events: none;

      &:hover {
        background-color: var(--color-accent);
      }
    }
    &:first-child {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }
    &:nth-child(2) {
      border-left: none;
      border-right: none;
    }
    &:last-child {
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }
  &-dropdown {
    width: var(--width-card-desktop);
    border-radius: var(--border-radius);
    background-color: var(--color-accent);
    color: var(--color-light);
    border-color: var(--color-accent);

    @media (max-width: 776px) {
      width: var(--width-card-mobile);
    }
  }
}
