:root {
  --font-family: 'OpenSans', sans-serif;

  --color-main-background: #f3f7fa;
  --color-accent: #2196f3;
  --color-light: white;
  --color-text: #4a4a4a;
  --color-checkbox-no-active: #9abbce;
  --color-border: #dfe5ec;
  --color-ticket-title: #a0b0b9;
  --color-hover: #f1fcff;

  --box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  --border-radius: 5px;

  --width-card-desktop: 502px;
  --width-card-mobile: 412px;

  --font-size-small: 12px;
  --font-size-middle: 13px;
}
