.container {
  width: 776px;
  @media (max-width: 776px) {
    width: auto;
  }
}
.header {
  &-logo {
    width: 80px;
    height: 80px;
    margin: 40px auto;

    @media (max-width: 776px) {
      width: 60px;
      height: 60px;
      margin: 20px auto;
    }
  }
}
.main {
  display: flex;
  justify-content: center;
  gap: 20px;

  @media (max-width: 776px) {
    flex-direction: column;
    align-items: center;
  }
}
